* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main_color: #453519
}

nav {
    width: 100%;
    background-color: var(--main_color);
}

.head {
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo {
    height: 80px;
    display: flex;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 20px;
}

@media(min-width:768px) {
    .links i {
        display: none;
    }
}

.img_logo {
    width: 50px;
    margin-right: 15px;
}
ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width:768px){
    
}
ul a {
    list-style: none;
    text-decoration: none;
}

ul a li {
    color: white;
}

ul a li:hover {
    color: #b59439;
}